<!doctype html>
<html lang="ko">
  <head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    <title>여행봇</title>
  </head>
  <body>
      <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-md-8 col-sm-12 mx-auto">
                <div class="h-100 justify-content-center">
                    <div class="chat-container" style="overflow: auto; max-height: 80vh">

                        <div class="chat-message col-md-5 bot-message" style="margin-bottom:50px">
                          안녕하세요. 여행 예약 도우미 챗봇 '챗봇코스모' 입니다!
                        </div>



                    </div>
                    <input class="input" type="text"  placeholder="질의어를 입력하세요" id="query"/>

                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='chatbot.js')}}"></script>

  </body>
</html>